@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='color'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    border: none;
    background: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: inherit;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: inherit;
}

input[type='color']::-moz-color-swatch {
    border: none;
    border-radius: inherit;
}
